<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>psemi</title>
</head>
<body>
    <h1>20FI057 須藤文仁 課題5=8</h1>
    <section>
        <h2>5</h2>
        <p><a href="/routing">ページ遷移</a></p>
    </section>
    <section>
        <h2>6, 7</h2>
        <form action="/get" method="get">
            <input type="text" name="text">
            <button type="submit">送信</button>
        </form>
    </section>
    <section>
        <h2>8</h2>
        <form action="/post" method="post">
            <input type="text" name="text">
            <button type="submit">送信</button>
        </form>
    </section>

    <script type="text/javascript" src="/static/js/script.js"></script>
</body>
</html>